{% extends 'base.html' %}
{% load static %}

{% block main %}
  <div style="margin-bottom: 259px;" class="container-fluid">
       <!-- Heading -->
   <div class="card mb-4 wow fadeIn">
      <!--Card content-->
      <div class="card-body d-sm-flex justify-content-between">
         <h6 class="mb-2 mb-sm-0 pt-1">
            <a href="{% url 'home_page' %}">Home Page</a>
            <span>/</span>
            <a href="{% url 'group' %}">Union</a>
            <span>/</span>
            <span>Add New Union</span>
         </h6>
      </div>
   </div>
   <!-- Heading -->
             {% if messages %}
        {% for message in messages %}
          <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}

      {% if form %}
   <div class="alert alert-info alert-dismissible fade show" role="alert">
        <strong>Please correct the errors below</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% for field in form %}
    {% if field.errors %}
     {% for error in field.errors %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong class="{{ message.tags }}">{{ field.label }}: {{ error }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
    {% endif %}
  {% endfor %}
  {% endif %}
   <!-- Editable table -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Union Information</a>
  </li>
</ul>
<form method="post" enctype="multipart/form-data">{% csrf_token %}
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <div class="row">
      <div class="col-md-6">
        <input name="g_name" type="text" class="form-control mb-4" placeholder="Union Name">
        <input name="g_phone" maxlength="11" type="number" maxlength="11" minlength="11" class="form-control mb-4" placeholder="Union Mobile Number">
      </div>
      <div class="col-md-6">
        <input name="g_code" type="text" class="form-control mb-4" placeholder="Union Code">
        <input name="g_email" type="email" class="form-control mb-4" placeholder="Union Email Address">
      </div>
      <div class="col-md-12">
        <input name="g_office" type="text" class="form-control mb-4" placeholder="Office Address">
      </div>
  </div>
  </div>
</div>
<input type="submit" name="submit" value="Save" style="margin-bottom: 27px;" class="btn btn-primary">
</form>
</div>
{% endblock %}
